@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	:root {
		--native: 0 0% 100%;
		--native-foreground: 0 0% 1%;
		--primary-fade: var(--primary) / 0.4;
		--gradient: linear-gradient(to top left, var(--primary), var(--secondary));
	}
	.dark {
		--native: 0 0% 2%;
		--native-foreground: 0 0% 99%;
		--primary-fade: var(--primary) / 0.2;
	}
}

@layer base {
	:root {
		--background: 0 0% 99%;
		--foreground: 252 0% 10%;
		--muted: 0 0% 97%;
		--muted-foreground: 0 0% 53.08%;
		--popover: 0 0% 100%;
		--popover-foreground: 252 0% 0%;
		--card: 0 0% 95%;
		--card-foreground: 252 0% 30.77%;
		--border: 0 0% 86.92%;
		--input: 0 0% 74.62%;
		--primary: 27.06 92.51% 79.46%;
		--primary-foreground: 0 0% 0%;
		--secondary: 164.12 70.54% 73.89%;
		--secondary-foreground: 0 0% 0%;
		--accent: 27.06 0% 93.85%;
		--accent-foreground: 0 0% 0%;
		--destructive: 0 65.31% 66.73%;
		--destructive-foreground: 0 0% 100%;
		--ring: 27.06 2.39% 54.29%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 5%;
		--foreground: 252 37% 97%;
		--muted: 0 0% 8%;
		--muted-foreground: 0 0% 62.75%;
		--popover: 0 0% 5%;
		--popover-foreground: 252 37% 99%;
		--card: 0 0% 10%;
		--card-foreground: 252 37% 99%;
		--border: 0 0% 15%;
		--input: 0 0% 20%;
		--primary: 27.06 100% 80%;
		--primary-foreground: 0 0% 0%;
		--secondary: 164.12 100% 80%;
		--secondary-foreground: 0 0% 0%;
		--accent: 27.06 0.22% 23.03%;
		--accent-foreground: 0 0% 100%;
		--destructive: 0 100% 75.1%;
		--destructive-foreground: 0 0% 0%;
		--ring: 27.06 100% 80%;
	}
}

@layer base {
	* {
		@apply border-border outline-[var(--ring)];
	}
	body {
		@apply bg-background text-foreground;
	}
}

.bg-header {
	--bg: #000000;
	--text: #ffffff;
	--overlay: rgba(0, 0, 0, 0.25);
	--overlay-hover: rgba(0, 0, 0, 0.5);
	--stop-0: #000000;
	--stop-1: #3d3d3d;
	--stop-2: #454545;
	--stop-3: #6d6d6d;
	background-color: var(--stop-2);
	background-image: url("data:image/svg+xml,%3Csvg opacity='0.1' viewBox='00250250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='7.5' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
		radial-gradient(circle at 57% 46%, var(--stop-0) 0px, transparent 60%),
		radial-gradient(circle at 6% 76%, var(--stop-0) 0px, transparent 60%),
		radial-gradient(circle at 69% 21%, var(--stop-0) 0px, transparent 60%),
		radial-gradient(circle at 39% 78%, var(--stop-1) 0px, transparent 60%),
		radial-gradient(circle at 88% 69%, var(--stop-1) 0px, transparent 60%),
		radial-gradient(circle at 5% 37%, var(--stop-1) 0px, transparent 60%),
		radial-gradient(circle at 53% 68%, var(--stop-0) 0px, transparent 60%),
		radial-gradient(circle at 51% 98%, var(--stop-0) 0px, transparent 60%),
		radial-gradient(circle at 77% 49%, var(--stop-3) 0px, transparent 60%),
		radial-gradient(circle at 41% 51%, var(--stop-3) 0px, transparent 60%),
		radial-gradient(circle at 12% 67%, var(--stop-3) 0px, transparent 60%),
		radial-gradient(circle at 94% 59%, var(--stop-2) 0px, transparent 60%),
		radial-gradient(circle at 9% 27%, var(--stop-0) 0px, transparent 60%),
		radial-gradient(circle at 48% 3%, var(--stop-3) 0px, transparent 60%),
		radial-gradient(circle at 8% 8%, var(--stop-2) 0px, transparent 60%);
}

.update-comment + .update-comment {
	@apply border-t;
}
