@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	:root {
		--background: 157 35% 98%;
		--foreground: 157 58% 1%;
		--muted: 157 31% 94%;
		--muted-foreground: 157 7% 29%;
		--popover: 157 35% 98%;
		--popover-foreground: 157 58% 1%;
		--card: 157 35% 97%;
		--card-foreground: 157 58% 0%;
		--border: 157 13% 92%;
		--input: 157 13% 92%;
		--primary: 157 23% 83%;
		--primary-foreground: 157 23% 23%;
		--secondary: 157 14% 88%;
		--secondary-foreground: 157 14% 28%;
		--accent: 157 14% 88%;
		--accent-foreground: 157 14% 28%;
		--destructive: 4 97% 41%;
		--destructive-foreground: 0 0% 100%;
		--ring: 157 23% 83%;
		--radius: 0rem;
	}

	.dark {
		--background: 157 54% 2%;
		--foreground: 157 37% 98%;
		--muted: 157 31% 6%;
		--muted-foreground: 157 7% 71%;
		--popover: 157 54% 2%;
		--popover-foreground: 157 37% 98%;
		--card: 157 54% 3%;
		--card-foreground: 157 37% 99%;
		--border: 157 13% 15%;
		--input: 157 13% 15%;
		--primary: 157 23% 83%;
		--primary-foreground: 157 23% 23%;
		--secondary: 157 8% 11%;
		--secondary-foreground: 157 8% 71%;
		--accent: 157 8% 11%;
		--accent-foreground: 157 8% 71%;
		--destructive: 4 97% 52%;
		--destructive-foreground: 0 0% 100%;
		--ring: 157 23% 83%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
